<html xmlns:th="https://www.thymeleaf.org" >
    <head>
        <title>Connexion au Store</title>
    </head>
    <body>
        <h1>Connexion</h1>
        <form action="/store/login" method="POST">
            Email: <input name="email"> <br>
            Mdp: <input type="password" name="password"> <br>
            <input type="submit" value="Se connecter">
        </form>

        <hr>

        <h1>Inscription</h1>
        <form action="/store/register" method="POST">
            Email: <input name="email"> <br>
            Mdp: <input type="password" name="password"> <br>
            Nom: <input name="nom"> <br>
            Prénom: <input name="prenom"> <br>
            <input type="submit" value="S'inscrire">
        </form>
    </body>
</html>